.card {
  background-color: var(--color-elements);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  img {
    aspect-ratio: 5 / 3;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  .content {
    padding: 25px 20px 40px;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 1rem;
  }

  li {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
}
