.card {
  width: calc(100% / 4 - 1.5rem);
  background-color: var(--color-elements);
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem;

  img {
    width: 100%;
    aspect-ratio: 5 / 3;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .content {
    padding: 25px 20px 40px;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
  }
  li {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
}
