@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

:root {
  --font-size-home: 14px;
  --font-size-details: 18px;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 2px 3px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  --border-radius: 0.25rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body[theme='light'] {
  --color-input: hsl(0, 0%, 52%);
  --color-elements: #ffffff;
  --color-text: #121517;
  --color-background: hsl(0, 0%, 98%);
}

body[theme='dark'] {
  --color-elements: hsl(209, 23%, 22%);
  --color-text: #ffffff;
  --color-background: hsl(207, 26%, 17%);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Nunino Sans', sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  padding-top: 80px;
}
